@charset "utf-8";
/* CSS Document */
h1{
	font-size: 60px;
}
.main{
	margin-top: 0px;
	position: relative;

	-webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
}
.intro_top{
	margin-top: 150px;
	color: #0068C1;

	-webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}
.intro_top a{
	margin-top: 5px;
	font-size: 15px;
	text-shadow: none;
}
.move{
	width: 100px;
	height: 100px;
	text-align: center;
	display: block;
	margin: 0px auto;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -50px;
}
.move img{
	border: 2px solid #fff;
	background-color: rgba(0,0,0,0.8);
	opacity: 0.6;
	margin-top: 20px;
}
.move img:hover{
	opacity: 0.9;

	animation: moveChange 0.5s;
	-webkit-animation: moveChange 0.5s;
}
.intro_question{
	background:transparent url(../../img/backgrounds/road_back.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	overflow-x: hidden;
}
.bot_shadow{
	width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 0 -60px 60px -20px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 -60px 60px -20px rgba(0,0,0,0.7);
	box-shadow: inset 0 -60px 60px -20px rgba(0,0,0,0.7);
}
.change{
	background-color: rgba(0,0,0,0.85);
    color: #FFF;
	padding: 20px;
	display: block;
	-webkit-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
}
.change:hover{
	background-color: rgba(255,255,255,0.95);
	color: #000;

	animation: btnChange 0.5s;
	-webkit-animation: btnChange 0.5s; /* Safari and Chrome */
}
.underline_input{
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #000;
	color: #000;
	height: 20px;
	width: 80px;
}
.title{
	min-width: 150px;
	text-align: center;
	color: #FFF;
}
.title h1{
	margin: 0px;
}
.smoke{
	min-width: 100px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
}
.diet{
	min-width: 100px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
}
.excercise{
	min-width: 100px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
}
.study{
	min-width: 100px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
}
.save{
	min-width: 100px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
}
.custom{
	padding: 20px;
	display: block;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid rgba(0,0,0,0.5);
	color: #000;
	min-width: 200px;
	text-align: center;
	border-radius: 5px;
	position: absolute;

	-webkit-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
}

/* 計劃介紹 */
.topic_start_date{
	float: right;
}
.list-group-item-danger {
	border-top: 1px solid #000000;
	color: #a94442;
	background-color: #f2dede;
}

/* 每日紀錄視窗區塊 */
.intro_dayrecord{
	background:transparent url(../../img/backgrounds/road_back2.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	box-shadow: inset 0 60px 60px -20px rgba(0,0,0,0.7);
	overflow-x: hidden;
	position: relative;
}
.jumbotron{
	background-color: #f5f5f5;
	border : 1px solid #dddddd;

	-webkit-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);
	box-shadow: 0 10px 60px 10px rgba(0,0,0,0.7);

	top: -400px;
	position: absolute;
}
.goal_set{
	text-align: center;
}
.goal_set p{
	margin-top: 30px;
}

/* 月曆介紹 */
.table-bordered td{
	width: 14%;
}
.success_tag{
	background: url('../../img/backgrounds/success.png') no-repeat center;
	background-size: contain;
}
.fail_tag{
	background: url('../../img/backgrounds/fail.png') no-repeat center;
	background-size: contain;
}
.today{
	outline: 2px solid #000000; 
}
.edit_past_icon{
	float: right;
	width: 20px;
	height: 20px;
	opacity: 0.3;
}
.edit_past_icon:hover{
	opacity: 1;
}

/* 其它特色介紹 */
.intro_other{
	background:transparent url(../../img/backgrounds/road_back3.jpg) no-repeat center center fixed;
	background-size: cover;
}
.marketing .col-lg-4{
	text-align: center;
	color: #000;
	padding: 10px;
	font-size: 15px;
	display: block; 
}
.marketing .col-lg-4 h2{
	font-weight: bold;
}
.transparent_lock{
	background-color: rgba(255,255,255,0.45);
	border-radius: 5px;
	padding: 20px;
}
.transparent_lock:hover{
	background-color: rgba(255,255,255,0.8);

	animation: introotherChange 0.5s;
	-webkit-animation: introotherChange 0.5s; /* Safari and Chrome */
}
.pc_area{
	display: block;
}
.mobile_area{
	display: none;
}

/* 首頁特殊footer */
.pubclic_footer, .pubclic_footer a{
	background-color: #FFF;
	color: #0068C1;
}
.footer_fixed{
	margin-top: 40px;
}
.featurette-divider{
	display: none;
}

@media screen and (max-width:767px) {
	h1{
		font-size: 40px;
	}
	.goal_set h1{
		font-size: 20px;
	}
	.pc_area{
		display: none;
	}
	.mobile_area{
		display: block;
	}
}
@media screen and (max-width:460px) {
	.move{
		width: 50px;
		height: 50px;
		bottom: 8%;
		left: 50%;
		margin-left: -25px;
	}
	.move img{
		width: 50px;
		height: 50px;
	}
	.intro_question{
		background:transparent url(../../img/backgrounds/road_back.jpg) no-repeat center center;
		background-size: cover;
	}
	.topic_start_date{
		float: none;
	}
	.intro_dayrecord{
		background:transparent url(../../img/backgrounds/road_back2.jpg) no-repeat center center;
		background-size: cover;
	}
	.intro_other{
		background:transparent url(../../img/backgrounds/road_back3.jpg) no-repeat center center;
		background-size: cover;
	}
	.intro_top{
		margin-top: 100px;
	}
	h1{
		font-size: 15px;
		font-weight: bold;
	}
	h2{
		font-size: 15px;
		font-weight: bold;
	}
	p{
		font-size: 12px;
	}
	.goal_set h1{
		font-size: 15px;
	}
	.intro_top p{
		font-size: 12px;
	}

	.title h1{
		font-size: 15px;
	}
	.study, .save{
		display: none;
	}
	.title{
		top: 100px;
	}
	.custom{
		top: 250px;
	}
	.col-md-5, .col-md-7{
		padding: 0px;
	}
	.pc_area{
		display: none;
	}
	.mobile_area{
		display: block;
	}
}

@keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Firefox */
@-moz-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Safari and Chrome */
@-webkit-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Internet Explorer */
@-ms-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}​

/* Opera */
@-o-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}​

@keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* intro_other */
@keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}
/* Firefox */
@-moz-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}

/* Safari and Chrome */
@-webkit-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}

/* Internet Explorer */
@-ms-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}​

/* Opera */
@-o-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}​

/* move */
/* intro_other */
@keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}
/* Firefox */
@-moz-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}

/* Safari and Chrome */
@-webkit-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}

/* Internet Explorer */
@-ms-keyframes moveChange {
   from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}​

/* Opera */
@-o-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}​