@charset "utf-8";
/* CSS Document */
h1{
	font-size: 60px;
}
.main{
	position: relative;

	-webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
}
.intro_top{
	margin-top: 50px;
	color: #0068C1;

	-webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}
.intro_top a{
	margin-top: 5px;
	font-size: 15px;
	text-shadow: none;
}

@media screen and (max-width:767px) {
	h1{
		font-size: 40px;
	}
	.goal_set h1{
		font-size: 20px;
	}
	.pc_area{
		display: none;
	}
	.mobile_area{
		display: block;
	}
}
@media screen and (max-width:460px) {
	.move{
		width: 50px;
		height: 50px;
		bottom: 8%;
		left: 50%;
		margin-left: -25px;
	}
	.move img{
		width: 50px;
		height: 50px;
	}
	.intro_question{
		background:transparent url(../../img/backgrounds/road_back.jpg) no-repeat center center;
		background-size: cover;
	}
	.topic_start_date{
		float: none;
	}
	.intro_dayrecord{
		background:transparent url(../../img/backgrounds/road_back2.jpg) no-repeat center center;
		background-size: cover;
	}
	.intro_other{
		background:transparent url(../../img/backgrounds/road_back3.jpg) no-repeat center center;
		background-size: cover;
	}
	.intro_top{
		margin-top: 100px;
	}
	h1{
		font-size: 15px;
		font-weight: bold;
	}
	h2{
		font-size: 15px;
		font-weight: bold;
	}
	p{
		font-size: 12px;
	}
	.goal_set h1{
		font-size: 15px;
	}
	.intro_top p{
		font-size: 12px;
	}

	.title h1{
		font-size: 15px;
	}
	.study, .save{
		display: none;
	}
	.title{
		top: 100px;
	}
	.custom{
		top: 250px;
	}
	.col-md-5, .col-md-7{
		padding: 0px;
	}
	.pc_area{
		display: none;
	}
	.mobile_area{
		display: block;
	}
}

@keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Firefox */
@-moz-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Safari and Chrome */
@-webkit-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* Internet Explorer */
@-ms-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}​

/* Opera */
@-o-keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}​

@keyframes btnChange {
    from {
    		background-color: rgba(0,0,0,0.85);
    		color: #FFF;
    	}
    to   {
    		background-color: rgba(255,255,255,0.9);
			color: #000;
		}
}

/* intro_other */
@keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}
/* Firefox */
@-moz-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}

/* Safari and Chrome */
@-webkit-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}

/* Internet Explorer */
@-ms-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}​

/* Opera */
@-o-keyframes introotherChange {
    from {
    		background-color: rgba(255,255,255,0.45);
    	}
    to   {
    		background-color: rgba(255,255,255,0.8);
		}
}​

/* move */
/* intro_other */
@keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}
/* Firefox */
@-moz-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}

/* Safari and Chrome */
@-webkit-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}

/* Internet Explorer */
@-ms-keyframes moveChange {
   from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}​

/* Opera */
@-o-keyframes moveChange {
    from {
    		opacity: 0.6;
    	}
    to   {
    		opacity: 0.9;
		}
}​