@charset "utf-8";
/* CSS Document */
body {
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}
.form-signin .form-signin-heading {
	text-align: center;
	font-size: 26px;
	letter-spacing: 10px;
	padding-left: 8px;
	margin-bottom: 30px;
	line-height: 45px;
	white-space: nowrap;
	color: #FFFFFF;
	border-radius: 4px;
	background-color: #000000;
}
.checkbox{
	margin-top: 20px;
	margin-bottom: 0px;
}
.forgetpwd{
	margin-top:20px;
	color: #000000;
	text-align: center;
	text-shadow: 0 0px 1px rgba(0, 0, 0, 0.6);
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.btn-block {
	letter-spacing:3px;
	font-size:15px;
	font-weight:bold;
}
.alert
{
	max-width: 330px;
	margin: 10px auto;
	font-size:15px;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	display:none;
}

@media screen and (max-width:767px) {
	.form-signin {
		margin-top:100px;
	}
	.form-signin .form-signin-heading{
		letter-spacing:5px;
		white-space:none;
	}
}
