@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
html{
	position: relative;
	margin:0;
	height: 100%;
}
*:focus {
    outline: none;
}
a, a:hover, a:focus{
	outline: ; /* for Firefox */
	behavior:expression(this.onFocus=this.blur());
}
button {
	outline: none;
}
body{
	font-family:Microsoft JhengHei, Arial, Helvetica, sans-serif, "新細明體";
	margin-bottom: 100px;
	margin:0;
}
.container{
	border-left: 1px solid #0068C1;
	border-right: 1px solid #0068C1;
	color: #0068C1;
}
.navbar{
	border: 0px solid transparent;
}
.navbar .container{
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #0068C1;
	border-bottom: 1px solid #0068C1;
}
.navbar-nav, .navbar .container .navbar-brand{
	margin-top: -10px;
	margin-bottom: -10px;
}
.navbar-nav li a, .navbar .container .navbar-brand{
	padding-top:25px; 
	padding-bottom:25px;
}
/* 選單 */
.navbar-inverse .navbar-collapse{
	border-color:#0068C1;
}
.navbar .navbar-right li a:hover{
	background-color:#004D8E;
} 
.navbar-inverse {
	background-color:#FFF;
	border-color: #FFF;
}
.navbar-inverse .navbar-brand, .navbar .navbar-right li a {
	font-size: 20px;
	color: #0068C1;
}
.navbar-header .navbar-brand:hover{
	background-color:#004D8E;
}
.navbar-inverse .navbar-toggle:focus {
	background-color: #004D8E;
}
.navbar-inverse .navbar-toggle:hover{
	background-color:#004D8E;
}
.navbar-inverse .navbar-toggle {
	border-color: #0068C1;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #0068C1;
}

/* 標題頁籤 */
.record_title{
	text-align: center;
	margin-bottom: 50px;
	color: #666666;
	letter-spacing: 3px;
}
.img-circle{
	width: 75px;
	height: 75px;
}
.nav-justified{
	margin-bottom: 60px;
}

/* 輸入欄位邊框陰影 */
.form-control{
	height:40px;
}
.form-control:focus
{
	border: #999 solid 1px;
	box-shadow: 0px 0px 10px 1px #999;
	-webkit-box-shadow: 0px 0px 10px 1px #999;
}

/* 主內容 */
.main {
	margin-top:100px;
}
.jumbotron{
	background-color: #FFF;
	border : 1px solid #dddddd;
}

/* 底端 footer */
.pubclic_footer {
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
}
.pubclic_footer .container{
	border-top:1px solid #0068C1;
	border-bottom:1px solid #0068C1;
	height: 80px;
}
/* 首頁特殊footer */
.pubclic_footer, .pubclic_footer a{
	background-color: #FFF;
	color: #0068C1;
}
.footer_fixed{
	margin-top: 30px;
}

/* 小圖示修正*/
.glyphicon{
	margin-right: 10px;
}
.glyphicon-ok{
	float: right;
}
.glyphicon:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
@media screen and (max-width:460px) {
	.col-xs-12{
		padding-left:0px;
		padding-right:0px;
	}
	.pubclic_footer {
		font-size: 12px;
	}
	.main {
		margin-top:80px;
	}
	.main h2{
		font-size: 20px;
	}
	.record_title, .nav-justified{
		margin-bottom: 30px;
	}
}