@charset "utf-8";
/* CSS Document */
.registerArea{
	max-width:500px;
	padding: 15px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.form-group .alertText{
	display:none;
	color:#b94a48;
}
.success-msg{
	display:none;
}
.alert-success .alert-link{
	color:#eb6027;
}
.remind_forgetpwd{
	font-weight: normal;
	font-size: 12px;
}
.reg_attention{
	color: #999;
	margin-top: 50px;
}
#registerLoading{
	display: none;
}
#registerLoading img{
	width: 15px;
	height: 15px;
}